html{
	background: #F0F0F0;
}
body{
	width: 80%;
	margin: 50px auto;
	background: #FFF;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	padding: 20px;
	font-family: Arial;
}

a{
	color: #0066FF;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

table{
	width: 300px;
	border-collapse: collapse;
}
table td, table th{
	padding: 2px;
}